@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-color: #343A40;
  --primary-text-color: #f1faee;
  --secondary-text-color: #343A40;
  /* button */
  --btn-blue: #3490DC;
  --btn-red: #E3342F;
  --btn-green: #25C167;
}
body{
  background: #FCFAF8;
}
.theme-color {
  background: var(--theme-color);
}
.primary-text-color {
  color: var(--primary-text-color);
}
.secondary-text-color {
  color: var(--secondary-text-color);
}
.btn-blue{
  background-color: var(--btn-blue);
}
.btn-red{
  background-color: var(--btn-red);
}
.btn-green{
  background-color: var(--btn-green);
}